// xe-blog 플러그인 게시물 상단 슬라이드
.section-widget-bold-xe-blog-board-top-image {
  position: relative;
  width: 100vw;
  height: 415px;
  left: 50%;
  margin-left: -50vw;
  margin-bottom: 30px;
  z-index: 10;
}

.widget-bold-xe-blog-board-top-image {

}

.widget-bold-xe-blog-board-top-image-item {
  height: 415px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@include pc {
  .section-widget-bold-xe-blog-board-top-image {
    height: 500px;
  }

  .section-widget-bold-xe-blog-board-top-image {
    margin-bottom: 80px;
  }

  .widget-bold-xe-blog-board-top-image-item {
    height: 500px;
  }
}
