// post 플러그인 게시물 타이틀 위젯
.section-widget-bold-xe-blog-board-title-wrap {
  position: static;

  .widget-bold-xe-blog-board-title-meta__item {
    &.widget-bold-xe-blog-board-title-meta__item--bookmark {
      &.widget-bold-xe-blog-board-title-meta__item--mobile {
        top: 78px;
        z-index: 10;
      }
    }
  }
}

.section-widget-bold-xe-blog-board-title {

}

.widget-bold-xe-blog-board-title {

}

.widget-bold-xe-blog-board-title__category {
  display: inline-block;
  padding-bottom: 20px;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: $brown-grey;

  a {
    color: $brown-grey;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $brown-grey;
    }
  }
}

.widget-bold-xe-blog-board-title__title {
  margin: 0;
  padding: 0 0 10px;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: $black;
}

.widget-bold-xe-blog-board-title__text {
  margin: 0;
  padding: 0 0 60px;
  font-family: 'LarishAlte-Semibold', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
}

.widget-bold-xe-blog-board-title-meta {
  position: absolute;
  top: 0;
  z-index: 10;
}

.widget-bold-xe-blog-board-title-meta--more-info {
  display: none;
  left: 110.3%;
  width: 160px;
  top: 48px;
}

.widget-bold-xe-blog-board-title-meta-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    list-style: none;
    color: $dark-khaki;

    &.date {
      padding-bottom: 24px;
    }
  }
}

.widget-bold-xe-blog-board-title-meta--sns {
  display: none;
  left: -9.3%;

  .widget-bold-xe-blog-board-title-meta-list {
    > li {
      margin-bottom: 12px;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

.widget-bold-xe-blog-board-title-meta__item {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 4px 0;
  border: 0 none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
  vertical-align: top;

  &.widget-bold-xe-blog-board-title-meta__item--bookmark {
    background-image: url(../img/icon-bookmark-gray.png);

    &.on {
      background-image: url(../img/icon-bookmark-fill-red.png);
    }

    &.widget-bold-xe-blog-board-title-meta__item--mobile {
      position: absolute;
      top: -44px;
      right: 0;
      width: 28px;
      height: 28px;
      background-size: 28px 28px;
    }
  }

  &.widget-bold-xe-blog-board-title-meta__item--twitter {
    background-image: url(../img/icon-sns-twitter.png);

    &:hover,
    &:focus {
      background-image: url(../img/icon-sns-twitter-hover.png);
    }
  }

  &.widget-bold-xe-blog-board-title-meta__item--facebook {
    background-image: url(../img/icon-sns-facebook.png);

    &:hover,
    &:focus {
      background-image: url(../img/icon-sns-facebook-hover.png);
    }
  }

  &.widget-bold-xe-blog-board-title-meta__item--kakaotalk {
    background-image: url(../img/icon-sns-kakaotalk.png);

    &:hover,
    &:focus {
      background-image: url(../img/icon-sns-kakaotalk-hover.png);
    }
  }

  &.widget-bold-xe-blog-board-title-meta__item--share {
    background-image: url(../img/icon-sns-share.png);

    &:hover,
    &:focus {
      background-image: url(../img/icon-sns-share-hover.png);
    }
  }
}

.widget-bold-xe-blog-board-title-meta__bar {
  position: relative;
  display: block;
  width: 16px;
  padding: 16px 0;
  vertical-align: top;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -1px;
    width: 10px;
    height: 1px;
    background-color: $very-light-pink-two;
  }
}

@include pc {
  .section-widget-bold-xe-blog-board-title-wrap {
    position: relative;
  }

  .section-widget-bold-xe-blog-board-title {

  }

  .widget-bold-xe-blog-board-title__category {
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
  }

  .widget-bold-xe-blog-board-title__title {
    padding: 0 0 16px;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -1px;
  }

  .widget-bold-xe-blog-board-title__text {
    font-size: 20px;
  }

  .widget-bold-xe-blog-board-title-meta--sns{
    display: block;
    top: 4px;
  }

  .widget-bold-xe-blog-board-title-meta--more-info {
    display: block;
  }

  .widget-bold-xe-blog-board-title-meta__item {
    &.widget-bold-xe-blog-board-title-meta__item--bookmark {
      &.widget-bold-xe-blog-board-title-meta__item--mobile {
        display: none;
      }
    }
  }
}
