/* xe blog plugin, 게시글 생성, 수정 하단 사용자 정의 필드 스타일 */
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.section-blog-block-editor-field {
  padding: 0 16px;
  border-top: 1px solid #e3e4e7;
}

.section-blog-block-editor-field .blog-block-editor-field__title-box {
  height: 47px;
  cursor: pointer;
}

.section-blog-block-editor-field .blog-block-editor-field__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.0429em;
  color: #444;
}
.section-blog-block-editor-field .blog-block-editor-field__title i {
  line-height: 47px;
  padding: 0 4px;
  font-weight: inherit;
}

.section-blog-block-editor-field .blog-block-editor-filed-content {
  display: none;
}

.section-blog-block-editor-field--open .blog-block-editor-field__title i {
  transform: rotate(180deg);
}
.section-blog-block-editor-field--open .blog-block-editor-filed-content {
  display: block;
}
