// 볼드저널 컬러 변수
$army-green: #181307;
$black-10: rgba(0, 0, 0, 0.1);
$black: #000;
$black-two: #2e291e;
$brown-grey: #989898;
$dark-khaki: #9e845b;
$gray-v-200: #eee;
$gray-v-50: #fafafa;
$off-white: #faf9f6;
$orange-85: #f65500;
$orange-68: #ff4400;
$orange-67: #ff4300;
$puce: #a48355;
$very-light-pink: #ccc;
$very-light-pink-two: #d8d8d8;
$white: #fff;

// 호별 컬러
$book-color15: #e1666a;
$book-color14: #efc361;
$book-color13: #7ea57f;
$book-color12: #f6c0c8;
$book-color11: #f5d489;
$book-color10: #aeccec;
$book-color9: #e9b8c1;
$book-color8: #a1dfc8;
$book-color7: #e3bb92;
$book-color6: #f1bf98;
$book-color5: #f5b1a2;
$book-color4: #deae4e;
$book-color3: #7492a8;
$book-color2: #2ab096;
$book-color1: #d3645b;
